*{margin: 0;
padding: 0;
box-sizing: border-box;
 font-family: 'Cardo', serif;}

h3{
	font-family: 'Cardo', serif;
	font-weight: bold;
	font-size:1rem;
	line-height: 1.6;
	font-weight: 400;
	color:#606060;
}

p{
	font-size:1rem;
	line-height: 1.6;
	font-weight: 400;
	color:#606060;
}

.logofont a{
	width: auto;
	}




.page{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
  }
 .page:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg, #16c9f6 55%,#fff 0%);
    z-index: -1;
  }

#Aboutanime p{font-size:1.2rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
	text-transform: capitalize;
	text-align: center;}

.contact-div h2{
	font-size:0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
}


.navbar img{height: 8vh;}

.carousel-inner img{
	width: 100%;
	height: auto;
	background-color: blue; 
}
.navbar-brand {
  font-size:20px;
  font-family: 'Droid Serif', serif;

}

.contact_button a{
	border: 1px solid #00cbff;
	outline: blue;
	color: none;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;

}

.contact_button a:hover{
	color:#00cbff;
	background: #00cbff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 #7f8c8d;

	color: white!important; 

}



/*nav.navbar.shrink {
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #dadada;
    position: fixed;
    left: 0px;
    transition: all 0.5s linear;

}

nav.navbar.shrink a {
  font-size: 14px;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  transition: all 0.5s linear;
}
nav.navbar.shrink .navbar-toggler{
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
  transition: all 0.5s linear;
}*/
nav.navbar.shrink  img{
  height: 5vh;
  transition: all 1.5s ease;
 }

 nav.navbar.shrink .navbar-brand  img{
  height: 5vh;
  transition: all 1.5s ease;
 }


.navbar-light .navbar-nav .nav-link {position: relative; font-weight: bold; }
.navbar-light .navbar-nav .nav-link:before {
	content: "";
	position: absolute;
	left: 0;
	top:100%;
	width: 0%;
	height: 2px;
	background-color: #00cbff;
	transition: all 1s linear;
}

.navbar-light .navbar-nav .nav-link:hover:before {
	width: 100%;
	transition: all 0.5s linear;}



.knowmore a{
	padding: 15px 15px;
	border: 1px solid #00cbff;
	outline: blue;
	color: black;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	}
.knowmore a:hover{
	color:#00cbff;
	background: #00cbff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 #7f8c8d;
	color: white; 

}



.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}

}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.contact-div
{
	width: 100%;
	height: auto;

	text-align: center;
}

.icondiv{
	background:#fff;
	border: medium none;
	padding: 50px!important;
	border-radius:3px;
	transition: 0.3s; 
}

.icondiv:hover{box-shadow: 0 0 20px 0 rgba(0,0,0,0.3)}



.formbutton button{
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	border: 1px solid transparent;
	outline: transparent;
	color: transparent;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	background-color: transparent;
}

form:hover .formbutton button{
	font-weight: bold;
	color:#50d1c0;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 (0,0,0,0.3);
 }


#About h3{font-family: 'Cardo', serif;}

.footersection h3{
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.2rem!important;
	font-weight: 600;
	text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}


.footersection p{
	color: #fff;
	font-size:1rem;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	 }
.footersection{
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	background:#00abff;
	position: relative;
	list-style: none;
}

.footersection li a{
	font-size:0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	text-align: center;
}

.footerdropdown div{
	background:#00abff; 
}






#myBtn{
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border:none;
	color:#fff;
	background:#00abff;
	padding: 10px;
	border-radius: 10px;
}

#myBtn:hover{
	background-color: #606060;

}

.footerdiv i{ padding-right: 16px!important;

}


.extrainfo img{
	height: auto;
}


.extrainfo p{
	font-size:1.2rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
	
}


#galleryeffect img:hover{
	color:#00cbff;
	background: #00cbff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 #7f8c8d;
}

.box{
	text-align:center;
	border:1px solid rgba(00,0,0,0.2);
	box-sizing: 0 5px 10px 0 rgba(0,0,0,0.3);
	border-radius: 2px;
	transition: 0.3s ease;

}

.box:hover{	background-color: #16c9f6;}
.box:hover p{
	color: white;
}

.box a img{
	width: 100px;
	height: 100px;

}

.extrainfo img{
	border:1px solid rgba(00,0,0,0.2);
	box-sizing: 0 5px 10px 0 rgba(0,0,0,0.3);
	background-color: black;

}
.extrainfo img:hover{
	color:#00cbff;
	background: #00cbff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 #7f8c8d;
	color: white; 

}



.card:hover{
	background-color: #16c9f6;
	color: #fff!important;
	color:#00cbff;
	background: #00cbff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 #7f8c8d;
	transform: translateY(-20px);

}


.pagepic{background-image: url(../images/page.jpg);}

